<div class="event-title">
      {{event.title}} <span class="event-duration">({{duration}} days)</span>
</div>
<div class="event-description">
      {{event.description}}
</div>
<div class="event-owner">
      {{event.owner}}
</div>
